.main{
    position: relative;
    /* width: 96vw; */

     height: 180vh; 
    width: calc(100vw - 14px);
    margin: -16px 0 0 -16px;
}
.half {
    width: 100%;
    position: absolute;
    left: 0;
}
.top {
    height: 60%;
    top: 0;
    background-color: rgb(246, 249, 249);
     background: linear-gradient(to bottom, #BFBFBF, #F4F4F4); /* Gradient effect */
     z-index: 1;
}
 
.bottom {
    height: 60%;
    bottom: 0;
    background-color: #F4F4F4;
    z-index: 0;
}
.center-content {
    position: absolute;
    height: 88%;
    width: 90%;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:    rgba(251, 251, 251, 0.9);
    padding: 20px;
    z-index: 1;
    border-radius: 8px;
    /* border: #E10202 solid 1px; */
}

/* @media (max-width: 768px) {
    .center-content {
        width: 50%;
    }
} */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0); 
    display: flex;
    justify-content: center;
    align-items: center;
}
.centered-text {
    color: black; 
    font-size: 2em; 
    font-weight: bold; 
    margin-bottom: 30px;
    margin-left: 280px;
}
.centered-text2 {
    color: black; 
    font-size: 2em; 
    font-weight: bold; 
    margin-bottom: 30px;
    margin-left: 248px;
}
.centered-text3{
    color: black; 
    font-size: 2em; 
    font-weight: bold; 
    margin-bottom: 30px;
    /* margin-left: 205px; */
}


.form{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    /* overflow-y: scroll; */
  
}

 

.form-header {
    text-align: center;
}

.form-header img {
    width: 50px;
}

.steps {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.step {
    width: 30%;
    padding: 5px;
    background-color: #f1f1f1;
    border-radius: 5px;
    text-align: center;
}

.step.active {
    background-color: #007bff;
    color: #fff;
}

.form-body {
    margin-top: 20px;
}

.form-description {
    /* font-weight: bold; */
    text-align: center;
    padding:15px;
    margin-bottom: 35px;
}

.form-note {
    font-size: 12px;
    color: #888;
    text-align: center;
    margin-bottom: 20px;
}

 .form-group {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 15px;
}

/* @media (max-width: 768px) {
    .form-group {
       margin-left: 100px;
       margin-right: 90px;
    }
    
} */


@media (max-width: 768px) {
    .center-content {
        width: 93%;
    }
    .main{
        height: 120vh;
    }
    .form-body{
        /* width: 90%; */
    }
    /* .address{
        margin-right: 20px;
    } */
    .form-group {
        margin-left: 11px;
    }

    .form-group-2input {
        margin-left: 11px;
      
    }
    .form-group34 {
        margin-left: 12px;
    }
}

/* @media (max-width: 768px) {
    .form-group-2input {
       margin-left: 100px;
    }
} */


.form-group-checkbox {
    display: flex;
    accent-color: red;
    align-items: center;
 margin-left: 180px;
    margin-bottom: 10px; 
    transform: scale(1.3);
}

.form-group-checkbox input[type="checkbox"] {
    margin-right: 10px; /* Adjust margin between checkbox and label */
   
  
}


.form-group-checkbox label {
    margin-bottom: 0; /* Remove default margin to align text properly */
}

.form-group label {
    width: 52px;
    margin-right: 10px; /* Adjust spacing between label and input/select */
    text-align: left; /* Align label text to the right */
}

.form-group .required {
    color: red;
    width: 40px;
    /* margin-left: 2px;  */
}
.phone{
    margin-left: 90px;

}

.phone-label{
    width:120px;
    /* margin-left: 60px; */
    /* border: #007bff solid 1px; */
}


.form-group input,
.form-group select {
    width: 460px;
    height: 1cm;
    flex: 1; /* Take up remaining space */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-info {
    display: flex;
    justify-content: space-between;
    width: 110px;
    margin-left: 38px;
}

.detail {
margin-right:30px;
    margin-bottom: 0; 
    margin-left: 90px;
}



.form-footer {
    /* border: #007bff solid 1px; */
    text-align: center;
    display: flex;
    flex-direction: row;

    margin-top: 12px;
}

.submit-button {
    background-color: #e10202;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


.progress-bar {
    position: relative;
    width: 130px; 
    height: 2px; 
    background-color: #f0f0f0;
    border-radius: 5px;
}

.truck {
    position: absolute;
    top: -20px; 
    width: 10px; 
    height: 10px;
    color: red;
    /* background-color: #007bff; Adjust truck color */
    /* border-radius: 50%; Ensure truck is round */
    transition: left 0.3s ease;
}
.progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.slds-hide {
    display: none !important;
}
.VehicleComboBox{
    width:400px;
    margin-left: 60px;
    margin-top: -10px;

}
.head1{
    margin-left: 130px;
}

.VehicleComboBox2{
    /* height: 1cm; */
    width:250px;
    /* border: grey solid 1px; */
    margin-right: 2px;
  --slds-c-input-radius-border : 5px;
    /* margin-left: -170px; */
    /* margin-top: -10px; */
}
.selected-user-input {
    /* width: 50px; */
    /* box-sizing: border-box; Ensure width includes padding and border */
    /* Add other necessary styles */
    margin-left: 2px;
}

.VehicleComboBox2AV{
    width:400px; 
    margin-left: 60px;

}
.dataScroll{
    padding: 3px;
    margin-left: 5px;
    margin-top: 15px;
    font-size: 12px;
    /* margin-bottom: 2px; */
    font-family: 'Noto Sans JP', sans-serif;
    max-height: 150px;
    border: 1px solid #d9d9d9;
    background-color: #f9f9f9;
    border-radius: 8px;
    /* overflow-y: auto; */
    align-items: center;
  
    width: 200px;
    min-height: 4px;
}
 

.scrollbar{
    max-height: 100%;
    overflow-y: auto;
    width: 95%;
}

.scrollbar::-webkit-scrollbar {
    width: 7px; 
   
}

.scrollbar::-webkit-scrollbar-track {
    background: #d1d0d0; 
    border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #a3a3a3; 
    border-radius: 5px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #d1d0d0; 
}

/* CSS for record boxes */
.record-box {
    border: 1px solid #ccc;
    padding: 10px;
    /* margin-bottom: 10px; */
    margin-left: 250px;
    width: 200px;

    /* Adjust other styles as needed */
}

/* CSS for each record item */
.record-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Style for the delete icon */
.filtericn {
    margin-right: 10px; /* Adjust spacing between icon and text */
    --sds-c-icon-color-foreground-default: #E10202;
    --sds-c-icon-color-foreground: #E10202;}


.error{
    --slds-c-input-border-color : black;
    outline: solid 2px #e10202;
    background-color: #FEEEED;
}
.errorbox{
    --slds-c-input-border-color : rgb(255, 0, 0);
    background-color: #FEEEED;
}



.vehicle-name{
  margin-left: 20px;
}
.image-container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin-left: 20px;


    margin-bottom: 16px; /* Adjust as needed for spacing */
  
}

.image-container img {
  
    max-width: 100%; /* Ensure image does not exceed container width */
    height: auto; /* Maintain aspect ratio */
}
.button{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    margin-right: 60px;

}
.btn:hover{
    background-color: white;
    border: 1px solid #e10202;
    cursor: pointer;
    color: #0A0A0A;
}
.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 40px;
    border-radius: 8px;
    background-color: #e10202;
    color: white;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.next-button{
 
    margin-top: 5%;
    color: white;
    background-color: #E10202;
    /* padding: 8px 0; */
    border: none;
    height: 50px;
    width: 250px;
}

.toedit{
     color: rgb(255, 255, 255); 
    transition: color 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}
.btn:hover .toedit {
    color: #e10202;
}

.Form-border{
    /* border: rgb(177, 175, 175 )solid 0.25px; */
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 5px;
    padding: 20px;
}
.border1{
    border: rgb(177, 175, 175 ) solid 0.25px;
    padding: 15px;
    border-radius: 5px;
}

.button2{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    align-items: center;
    justify-content: center;
    height: 70px;
}
.btn2:hover{
    background-color: white;
    border: 1px solid grey;
    cursor: pointer;
    color: #0A0A0A;
}
.btn2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 180px;
    height: 40px;
    background-color:  #ededed;
    color: black;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}
.toedit2{
     color:black;
    transition: color 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}
.btn2:hover .toedit2 {
    color: #8f98aa;
}

.company-name2{
    margin-left: 107px;
    margin-right: 100px;

}
.address2{
    margin-left: 107px;

}
.custom-placeholder{
    color: #b2b2b2;
    margin-left: 5%;
    margin-top: 5%;
    font-size: small;
}
 
.branch-id2{
    margin-left: 120px;

}
.branch-name2{
    margin-left: 107px;

}
.branchAV{
    
/* border: green solid 4px; */
    width: 80px;
}
.branchCD{
    width: 70px;
    /* border: green solid 4px; */

}
.branch-12{
    margin-left: 50px;

}
.branch-22{
    margin-left: 120px;

}
.phone2{
    margin-left: 50px;

}
.phone2M{
    margin-left: 120px;

}
.vehName2{
    margin-right: -40px;
}

.company-name{
    margin-left: 205px;

}

.branch-id{
    margin-left: 275px;

}

.product-name{
    /* width: 50px; */
    margin-left: 38px;
    background-color: #f9f9f9;
}
.address{
    /* width: 50px; */
    margin-left: 90px;
}

.terms-service{
    margin-left: 30px;
}

.terms-agree{
    margin-left: 30px;

}

/* .next-button:disabled{
    background-color: #888;
    color: white;
    cursor: not-allowed;
} */


.selected-options {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to next line */
    align-items: center;
    margin-top: 5px;
}

.selected-option {
    background-color: #f0f0f0;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    white-space: nowrap; /* Prevents text wrapping */
}

.required {
    background-color: rgb(205, 17, 17);
    color: white !important; /* Use !important to ensure white color is applied */
    border: none;
    padding: 2px 6px; /* Adjust padding to make the button smaller */
    font-size: 10px ; /* Adjust font size to make the text smaller */
    margin-left: 2px; 
    vertical-align: middle; /* Align vertically with the label */
    margin-top: 10px;
    border-radius: 10px;
}
.GG{
    background-color: rgb(205, 17, 17);
    color: white !important; /* Use !important to ensure white color is applied */
    border: none;
    padding: 2px 6px; /* Adjust padding to make the button smaller */
    font-size: 10px ; /* Adjust font size to make the text smaller */
    margin-left: 2px; 
    vertical-align: middle; /* Align vertically with the label */
    /* transition: background-color 0.3s ease, color 0.3s ease;  */
}

.phonefax{
    width: 200px;
    display:flex;
    align-items: center;
    /* justify-content: flex-end; */
    margin-left: 300px;
    flex-direction: column;
}
.fax{
 /* display: block; */
 /* margin-left: 90px;  */
 /* border: solid; */
 width: 350px;
}

.terms-service2{
    margin-left: 10px;
}
.terms-agree2{
    margin-left: 10px;

}


.form-group34{
    display: flex;
    /* align-items: center; */
    text-align: left;
    margin-bottom: 15px;
}

.form-group34 label {
    width: 110px; /* Adjust width as needed */
    margin-right: 10px; /* Adjust spacing between label and input/select */
    text-align: left; /* Align label text to the right */
}

@media (max-width: 768px) {
  
    .company-name2{
        width: 170px;
    }
    }


.form-group34 input,
.form-group34 select {
    width: 290px;
    height: 1cm;
    flex: 1; /* Take up remaining space */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.branchAV2{
width: 110px;
/* border: #E10202 solid 1px; */
}

.label-reqd
{
    display: flex;
    flex-direction: row;
    /* gap: 1px; */
    width: 120px;
    /* border: #007bff solid 1px; */
}

.usersreqd{
    /* width: px; */
    /* border: red solid 1px; */
    display: flex;
    flex-direction: row;
    width: 160px;
    
}


.address-reqd{
    display: flex;
    flex-direction: row;
    /* border: #007bff solid 2px; */
    width: 110px;
}
.addMain{
    /* border: greenyellow solid 3px; */
    width: 100px;
}

.veh-display-step1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3%;
}

.AV-reqd{
    /* border: #888 solid 1px; */
    width: 170px;
    display: flex;
    flex-direction: row;
}

.contact-detail-reqd{
      /* border: #888 solid 1px; */
      width: 160px;
      display: flex;
      flex-direction: row;
}
.head{
    display: flex;
    flex-direction: row;
    /* border: blue solid 2px; */
    width: 170px;
   
}
.AVM{
    display: flex;
    flex-direction: row;
    /* border: RED solid 2px; */
    width: 150px;
    gap: 20px;

}





.Inputs {

    border: 1px solid #D9D9D9;
    border-radius: 2px;
    width: 405px;
    height: 40px;
    background-color: #ffffff;
    padding-left: 22px;
    position: relative;
    z-index: 1;
}
 
.lists {
    position: absolute;
    background: white;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    width: 250px; /* Matches the input width */
    max-height: 200px; /* Maximum height for the dropdown */
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    scrollbar-width:thin; /* Thin scrollbar */
    scrollbar-color: #dad7d7 #f9f9f9; /* Scrollbar color */
    margin-top: 5px; /* Space between input and dropdown */
    padding: 10px;
    margin-top: 60px;
}
 
.list-item {
    padding: 10px;
    cursor: pointer;
}
 
.list-item:hover {
    background-color: #f0f0f0; /* Hover effect */
}



.Inputs1{
background-color: #ffffff;}

.data{
    width: 250px;
    /* margin-left: 30px; */
    /* border: solid; */
    display: flex;
    /* border-color: #E10202; */
}

.records1{
    /* width: 600px; */
    display: flex;
    flex-direction: row;
}

.icon {
    padding-left: auto;
    background: var(--dropdown-icon)no-repeat;
    background-size: 20px;
    background-position: 220px 50%;
  }
  .checkboxes{
    /* border: #0A0A0A solid 1px; */
    margin-right: 200px;
  }
 
.name-inputs{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    /* border: #0A0A0A solid 2px; */
    /* width: 500px; */
    margin-left: 40px;
}
.two-inputs{
    display: flex;
    flex-direction: row;
    /* margin-top: 2px; */

}
.detailUser{
    /* margin-left: 40px; */
    /* border: red solid 1px; */
}
.form-group-2input{
display: flex;
/* align-items: center; */
text-align: left;
margin-bottom: 15px;
}
.form-group-2input input{
    width: 200px;
    height: 1cm;
    border-radius: 5px;
    margin-top: 17px;

    flex: 1; 
    padding: 20px;
    border: 1px solid #ccc;
}

.Branch-conf{
    /* border: #007bff solid 1px; */
    font-size:large;
    margin-top: 100px;
    margin-bottom: 100px;
}